.content {
    background-color: rgb(233, 230, 230);
    min-height: 40vh;
    margin: 20px 0px;
    padding: 2em;
}

.footer{
    background-color: rgba(159, 173, 170, 0.568);
    min-height: 10vh;
    font-size: 20m;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navigatiebalk {
    background-color: lightblue;
    color: rgb(182, 72, 72);
    /* font-weight: bold; */
  }


  .navbalk {
      background-color: lightblue;
      color: lightblue;
  }
